<footer class="footer">
  <div class="footer-content">
    <div class="img_links">
      <!-- Logo -->
      <div>
        <div class="footer-logo-container">
          <img src="../../../assets/logo_white.png" alt="Logo UEM" class="footer-logo" />
        </div>
      </div>

      <div class="nav-links">
        <!-- Textos -->
        <div class="mail-container">
          <a href="mailto:daniel.gutierrez@formulauem.es" class="contact">
            <span class="material-symbols-outlined">mail</span>
            <p>Contacto de soporte</p>
          </a>
        </div>
        <div class="mail-container">
          <a href="https://github.com/guti10x/FUEM_APP_HUB.git" class="contact">
            <span class="material-symbols-outlined">code</span>
            <p>Código del proyecto</p>
          </a>
        </div>
      </div>
    </div>
 
    <div class="footer-text-container">
      <p class="footer-copyright">
        © 2024 Formula UEM. Todos los derechos reservados.
      </p>
    </div>

  </div>

</footer>